
form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.form-top{
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
}

.tabs{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
    display: flex;
}

.tab{
    width:50%;
    background-color: $grey-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:5%;
}

.principal{
    background-color: $tertiary-color;
    color:white;
}


.form-buttons{
    display: flex;
    margin-left: auto;
    margin-right: 5px;
}

.form-buttons svg {
    fill: $purple-color;
}

.form-clear {
    width: 40px;
}

.form-save {
    width: 40px;
}

.form-row{
    display: flex;
    gap: 1rem;
    width: 100%;
}

.form-element{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $primary-color;
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

.form-input input{
    width: 100%;
    background-color: $purple-color;
    padding: 0.2rem;
}
