
form{
    flex: 1;
    gap: 2rem;
}

.form{
    width: 70%;
}

.form-top{
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
    border: 0.2rem solid hsl(214, 86%, 73%);
    box-shadow: 7px 8px 5px black;
}

.form-buttons{
    display: flex;
    margin-left: auto;
    margin-right: 5px;
}

.form-buttons svg {
    fill: hsl(214, 86%, 73%);
}

.form-clear {
    width: 40px;
    cursor: pointer;
}

.form-save {
    width: 40px;
    cursor: pointer;
}

.form-row{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.form-element{
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(240, 74%, 56%);
    flex: 1;
}

.form-input input{
    width: 100%;
    background-color: hsl(240, 79%, 68%);
    padding: 1rem;
    border: 0.2rem solid hsl(214, 86%, 73%);
    box-shadow: 7px 8px 5px black;
}

.form-input input{
    width: 100%;
    background-color: hsl(240, 79%, 68%);
    padding: 1rem;
    border: 0.2rem solid hsl(214, 86%, 73%);
    box-shadow: 7px 8px 5px black;
    outline: none;
}

.validate.error{
    border: 2px solid red;
}

.name-validation.error{
    border: 2px solid red;
}