//colors
$primary-color: hsl(240, 74%, 56%);
$secondary-color: hsl(214, 86%, 73%);
$tertiary-color: hsl(194, 100%, 50%);
$grey-color: hsl(0, 0%, 50%);
$purple-color: hsl(240, 79%, 68%);
$green-color: hsl(160, 76%, 45%);

//typography
$font-stack: Arial, Helvetica, sans-serif;
$font-stack-tabs:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//z-index
$z-index-menu-button: 1001;
$z-index-menu: 1000;
$z-index-svg-active: 1300;